
{{ define "main" }}
<div class="row justify-content-center">
  <div>
    <h1 style="text-align: center">{{ .Title }}</h1>
  </div>
  <div class="col-md-12 col-lg-10">
      <br/>
      <p>Play videos with captions, easily & instantly without the need for sophisticated video players. The video & captions never leave your device, so it's super fast & 100% private.</p>
      <p>You may open this window in multiple tabs in parallel, at the same time, so you can prepare a few different videos ready for you. For instructions on how-to automatically generate captions for your videos see here - <a href="https://speechnotes.co/docs/guides/quick-start-transcription/" target="_blank">Speechnotes Transcribe Guide</a>. Once transcription results are ready - you cn export them to VTT file. See here - <a href="#guide">how to export the VTT file</a>.</p>
      <br/>

    <div class="upload-section">
      <label for="video-upload" style="text-decoration: underline">1) Select video file:</label>
      <input type="file" id="video-upload" accept="video/*"><br><br>

      <label for="caption-upload" style="text-decoration: underline">2) Select captions file (VTT):</label>
      <input type="file" id="caption-upload" accept=".vtt">
    </div>

    <br/>
    <p>3) Click the play button on the video player below, and optionally the full-screen mode.</p>
    <br/><br/>

    <video id="video" controls>
      Your browser does not support the video tag.
    </video>

    <script>
      const videoUpload = document.getElementById('video-upload');
      const captionUpload = document.getElementById('caption-upload');
      const video = document.getElementById('video');

      videoUpload.addEventListener('change', function() {
        const file = this.files[0];
        const url = URL.createObjectURL(file);
        video.src = url;
      });

      captionUpload.addEventListener('change', function() {
        const file = this.files[0];
        const url = URL.createObjectURL(file);
        let track = document.createElement('track');
        track.kind = 'subtitles';
        track.label = 'English';
        track.srclang = 'en';
        track.src = url;
        track.default = true;
        video.appendChild(track);
      });
    </script>

    <style>
      article li {
        margin-bottom: 20px;
      }

      img {
        padding: 20px;
      }

    </style>

    <a id="guide"></a>
    <br/><br/>
    <article>
      <h2 style="text-align: center">How to Export Captions VTT File</h2>
      <br/>
      <p>Once you have transcribed your video using <a href="/transcribe/" target="_blank">Speechnotes' AI transcription</a>, you can export the captions VTT file from the transcription results page. Here's how:</p>
      <ol>
        <li>Click on the title of the transcription result to open the transcription results window.
          <img src="/images/screenshots/play/1.webp"/>
        </li>
        <li>Click on the "Export" button on the transcription results page.
          <img src="/images/screenshots/play/2.webp"/>
        </li>
        <li>Click on the "VTT / SRT" button to export the captions VTT file. 2 files will be downloaded - SRT & VTT formats. You'll need the VTT file.
          <img src="/images/screenshots/play/3.webp"/>
        </li>
        <li>Save the captions VTT file to your device.
          <img src="/images/screenshots/play/4.webp"/>
        </li>
        <li>Upload the captions VTT file on this page to play your video now with its captions.</li>
      </ol>
    </article>
  </div>
</div>

<br/><br/><br/>
{{ end }}
