<!-- Custom head -->

<link rel="alternate" hreflang="x-default" href="https://speechnotes.co/" />
<link rel="alternate" hreflang="en" href="https://speechnotes.co/" />
<link rel="alternate" hreflang="de" href="https://speechnotes.co/de/" />
<link rel="alternate" hreflang="es" href="https://speechnotes.co/es/" />
<link rel="alternate" hreflang="fr" href="https://speechnotes.co/fr/" />
<link rel="alternate" hreflang="it" href="https://speechnotes.co/it/" />
<link rel="alternate" hreflang="ja" href="https://speechnotes.co/ja/" />
<link rel="alternate" hreflang="pt" href="https://speechnotes.co/pt/" />
<link rel="alternate" hreflang="ar" href="https://speechnotes.co/ar/" />
<link rel="alternate" hreflang="ru" href="https://speechnotes.co/ru/" />
<link rel="alternate" hreflang="zh" href="https://speechnotes.co/zh/" />
