/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "common/variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import highlight.js */
// @import "highlight.js/scss/github-dark-dimmed";

/** Import KaTeX */
@import "katex/dist/katex";

/** Import theme styles */
@import "common/fonts";
@import "common/global";
@import "common/dark";
@import "components/alerts";
@import "components/buttons";
@import "components/code";
@import "components/details";
@import "components/syntax";
@import "components/comments";
@import "components/forms";
@import "components/images";
@import "components/mermaid";
@import "components/search";
@import "components/tables";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";

header {
  box-shadow: 1px 1px 10px gainsboro;
  opacity: 1;
}

.dropdown > .dropdown-menu {
  padding: 15px;
  border-radius: 20px;
}

.dropdown > .dropdown-menu li a {
  padding: 8px 20px;
  border-bottom: 1px solid #ddd;
  font-size: 1.2em;
  opacity: 0.8;
}

.dropdown > .dropdown-menu li a:hover {
  opacity: 1;
  border-bottom: 2px solid orangered;
}

@media not all and (hover: none) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.navbar-brand {
  color: orangered !important;
}

.MuiSvgIcon-fontSizeMedium {
  width: 100px;
  height: 100px;
}

svg {
  fill: #222;
}

[data-dark-mode] svg {
  fill: #aaa;
}

.card > h3 {
  color: $primary;
}

.Feature-card-container {
  padding: 5px;
  text-align: center;
}

.Feature-card-container > .card {
  //border-width: 2px;
  padding: 10px 5px 20px;
}

button.Google-signin-btn {
  margin: auto;
  cursor: pointer;
  text-transform: uppercase;
  color: #3b3b3b;
  font-weight: bold;
  background-color: white;
  border: 3px red solid;
  border-radius: 30px;
  padding: 10px 40px;
}

.Google-signin-btn:hover {
  color: white;
  background-color: orangered;
}

video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: auto;
  display: block;
}

#hero {
    width: 100%;
    min-height: 80vh;
    /*background: url(https://speechlogger.com/assets/img/hero-bg.png) top center no-repeat;*/
    background-size: cover;
}

/* Container for the news ticker */
.news-ticker {
  width: 100%; /* Full width */
  overflow: hidden; /* Hide the overflowed content */
  white-space: nowrap; /* Prevent line breaks */
  box-sizing: border-box;
  padding: 10px;
}

/* The content that will scroll */
.news-content {
  display: inline-block;
  animation: scroll-left 30s linear infinite; /* Scroll animation */
}

/* Animation keyframes */
@keyframes scroll-left {
  0% {
    transform: translateX(20%); /* Start off the screen from the right */
  }
  100% {
    transform: translateX(-80%); /* Move off the screen to the left */
  }
}

/* Styling for each headline */
.news-content a {
  display: inline-block;
  margin-right: 50px; /* Space between the links */
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.news-content a:hover {
  box-shadow: orangered 0 2px 0; /* Add a hover effect */
}

.news-content a::before {
  content: "| "; /* Add a pipe symbol after each link */
}
