{{ define "main" }}

<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="text-center">
      <h2 class="lead" style="font-size: 1.3em;">Take notes with your voice for free, or automatically transcribe audio & video recordings.
        <br/>Amazingly accurate, secure & blazing fast.</h2>
      <p class="caption-top" style="margin-top: 35px;"><i>
        Proudly serving millions of users since 2015. Accepted into Microsoft for Startups 2024
        <br/>Trusted by businesses, top colleges, journalists, authors, doctors, and millions of users worldwide
      </i></p>
    </div>
    <p style="text-align: center;margin-top: 30px;">
      <a href="/samples/" style="color: #ffce00;padding: 5px 20px;border-radius: 20px;background-color: #2b3140;position: relative; box-decoration-break: clone; -webkit-box-decoration-break: clone;">
        View real-life videos & audios transcribed by Speechnotes<span style="content: '';border: 1px solid orangered;background-color: white;position: absolute;top: -3px;left: -35px;color: orangered;font-size: 12px;font-weight: bold;padding: 5px 10px;transform: rotate(-25deg);transform-origin: 0 0;">NEW</span>
      </a>
    </p>
    <style>
      .highlight-on-hover {
        box-shadow: 0 0 10px 0 navajowhite;
      }
      .highlight-on-hover:hover {
        box-shadow: 0 0 10px 0 orange;
      }
    </style>
    <div class="row justify-content-center text-center" style="margin-top: 10px;">
      <div class="col-md-7 col-lg-6 card highlight-on-hover" role=button onclick='window.location="/dictate/"' style=cursor:pointer>
        <div class="text-center" style="margin-top: 30px;margin-bottom: -20px;"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-1om0hkc" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="MicIcon"><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"></path></svg></div>
        <h2 class="h4">Take Notes with Your Voice</h2>
        <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .Site.Params.links.dictation }}" role="button" onclick="gtag('event', 'speechnotes_click_dictate_body', {'value': 'home_page_body'});" style="font-weight:700;color:white !important;background-color: #cc4500;border-color:#cc4500;">Start Dictating{{ i18n "start-dictating" }}</a>
        <p class="meta" style="text-align: justify">Take notes with your voice via our online dictation notepad for free. <a href="#about_speechnotes_notepad">Learn more.</a></p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7 col-lg-6 card highlight-on-hover" role=button onclick='window.location="/transcribe/"' style=cursor:pointer>
        <div class="text-center" style="margin-top: 30px;margin-bottom: -20px;"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-1om0hkc" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AudioFileOutlinedIcon"><path d="M14 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6zM6 20V4h7v5h5v11H6zm10-9h-4v3.88c-.36-.24-.79-.38-1.25-.38-1.24 0-2.25 1.01-2.25 2.25S9.51 19 10.75 19 13 17.99 13 16.75V13h3v-2z"></path></svg></div>
        <h2 class="h4">Transcribe Video & Audio Files</h2>
        <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .Site.Params.links.transcription }}" role="button" onclick="gtag('event', 'speechnotes_click_transcribe_body', {'value': 'home_page_body'});" style="font-weight:700;color:#ffce00!important;background-color:#2b3140;border-color:#2b3140">Start Transcribing{{ i18n "start-transcribing" }}</a>
        <p class="meta" style="text-align: justify">Accurately transcribes (& translates) audio & video files, recordings, YouTubes & more. Private, secure & fast.</p>
      </div>
    </div>

  </div>
</section>
{{ end }}



{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section id="portfolio" class="section section-sm bg-light">
    <br/>
    <div class="container">

      <div style="text-align: center;align-items: center;align-content: center; vertical-align: middle;margin-bottom: 30px;">
        <div style="display:inline-block;text-align:center;font-size:1.3em;font-weight:700"><p style="font-size:3em"><span style="font-size:1.3em">+5</span>M</p><p style="font-size:1em;margin-top:-2em">Users Worldwide</p></div>
        &nbsp;
        <div style="display:inline-block;"><img src="https://wellsrc.com/ms.png" style="max-width:80%;margin:10px auto;width:250px;display:block"></div>
      </div>

      <div style="text-align: center">
        <div class="news-ticker">
          <div class="news-content">
            <a href="/blog/" style="color: orangered">All news&nbsp;➤</a>
            {{ range first 5 .Site.RegularPages.ByDate.Reverse }}
            <a href="{{ .Permalink }}">{{ .Title }}&nbsp;<span style="color: orangered">➤</span></a>
            {{ end }}
            <a href="/blog/" style="color: orangered">All news&nbsp;➤</a>
          </div>
        </div>
      </div>
      <br/><br/>
      <p style="max-width: 800px;margin: auto; font-size: larger; text-align: justify">
        Speechnotes is a reliable and secure automatic speech-to-text service that enables you to quickly and accurately transcribe & translate your audio and video recordings, as well as dictate your notes instead of typing, saving you time and effort. With features like voice commands for punctuation and formatting, automatic capitalization, and easy import/export options, Speechnotes provides an efficient and user-friendly dictation and transcription experience. Proudly serving millions of users since 2015, Speechnotes is the go-to tool for anyone who needs fast, accurate & private transcription. Our online AI transcription service supports all file types & languages. It features speaker automatic tagging (diarization), timestamping, captioning, AI summaries & more.
        <br/><br/>
      </p>

      <p style="max-width: 800px;margin: auto; font-size: larger; text-align: justify">
        <span style="display: block;text-align: center; color: orangered"><i>Our Portfolio of Complementary Speech-To-Text Tools Includes:</i></span>
        <br/>
      </p>

      <div class="row justify-content-center text-center">
        <div class="col-sm card" style="display: flex;flex-direction: column">
          <h3 class="h4">Voice typing - Chrome extension</h3>
          <p>Dictate instead of typing on any form & text-box across the web. Including on Gmail, and more.</p>
          <div style="flex: 1;min-height: 10px;"></div>
          <a class="btn btn-outline-primary btn-lg px-4 mb-2" href="{{ .Site.Params.links.chromeExtension }}" role="button" onclick="gtag('event', 'speechnotes_click_extension_body', {'value': 'home_page_body'});">Start voice typing{{ i18n "start-dictating" }}</a>
          <br/>
        </div>&nbsp;&nbsp;
        <div class="col-sm card" style="display: flex;flex-direction: column">
          <h3 class="h4">Transcription API & webhooks</h3>
          <p>Speechnotes' API enables you to send us files via standard POST requests, and get the transcription results sent directly to your server.</p>
          <div style="flex: 1;min-height: 10px;"></div>
          <a class="btn btn-outline-primary btn-lg px-4 mb-2" href="{{ .Site.Params.links.api }}" role="button" onclick="gtag('event', 'speechnotes_click_api_body', {'value': 'home_page_body'});">Learn how{{ i18n "start-dictating" }}</a>
          <br/>
        </div>&nbsp;&nbsp;
        <div class="col-sm card" style="display: flex;flex-direction: column">
          <h3 class="h4">Zapier integration</h3>
          <p>Combine the power of automatic transcriptions with Zapier's automatic processes. Serverless & codeless automation! Connect with your CRM, phone calls, Docs, email & more.</p>
          <div style="flex: 1;min-height: 10px;"></div>
          <a class="btn btn-outline-primary btn-lg px-4 mb-2" href="{{ .Site.Params.links.zapier }}" role="button" onclick="gtag('event', 'speechnotes_click_zapier_body', {'value': 'home_page_body'});">Start automation{{ i18n "start-dictating" }}</a>
          <br/>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-sm card" style="display: flex;flex-direction: column">
          <h3 class="h4">Android Speechnotes app</h3>
          <p>Speechnotes' notepad for Android, for notes taking on your mobile, battle tested with more than 5Million downloads. Rated 4.3+ ⭐</p>
          <div style="flex: 1;min-height: 10px;"></div>
          <a class="btn btn-outline-primary btn-lg px-4 mb-2" href="{{ .Site.Params.links.androidApp }}" role="button" onclick="gtag('event', 'speechnotes_click_androidApp_body', {'value': 'home_page_body'});">Get it on Google Play{{ i18n "start-dictating" }}</a>
          <br/>
        </div>&nbsp;&nbsp;
        <div class="col-sm card" style="display: flex;flex-direction: column">
          <h3 class="h4">iOS TextHear app</h3>
          <p>TextHear for iOS, works great on iPhones, iPads & Macs. Designed specifically to help people with hearing impairment participate in conversations. Please note, this is a sister app - so it has its own pricing plan.</p>
          <div style="flex: 1;min-height: 10px;"></div>
          <a class="btn btn-outline-primary btn-lg px-4 mb-2" href="{{ .Site.Params.links.iosApp }}" role="button" onclick="gtag('event', 'speechnotes_click_iosApp_body', {'value': 'home_page_body'});">Get it on the App Store{{ i18n "start-dictating" }}</a>
          <br/>
        </div>&nbsp;&nbsp;
        <div class="col-sm card" style="display: flex;flex-direction: column">
          <h3 class="h4">Audio & video converting tools</h3>
          <p>Tools developed for fast - batch conversions of audio files from one type to another and extracting audio only from videos for minimizing uploads.</p>
          <div style="flex: 1;min-height: 10px;"></div>
          <a class="btn btn-outline-primary btn-lg px-4 mb-2" href="{{ .Site.Params.links.converters }}" role="button" onclick="gtag('event', 'speechnotes_click_converters_body', {'value': 'home_page_body'});">Browse converters{{ i18n "start-dictating" }}</a>
          <br/>
        </div>
      </div>
    </div>
  </section>

  <section id="sister-apps" class="section section-sm bg-light" >
    <div class="container">
      <div class="row justify-content-center text-center">
        <p class="h3">Our Sister Apps for Text-To-Speech & Live Captioning</p>
        <br/>
        <p class="lead">Complementary to Speechnotes</p>
        <br/><br/>
        <div class="row justify-content-center text-center">
          <div class="col-md-7 col-lg-6 card" style="display: flex;flex-direction: column">
            <div class="text-center" style="margin-top: 30px;margin-bottom: -20px;">
              <svg style="fill:darkred;" class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-1om0hkc" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="VolumeUpOutlinedIcon"><path d="M3 9v6h4l5 5V4L7 9H3zm7-.17v6.34L7.83 13H5v-2h2.83L10 8.83zM16.5 12c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77 0-4.28-2.99-7.86-7-8.77z"></path></svg>
            </div>
            <p class="h3"><span style="color: darkred">TTS</span>Reader</p>
            <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .Site.Params.links.ttsreader }}" role="button" onclick="gtag('event', 'speechnotes_click_ttsreader_body', {'value': 'home_page_body'});">Text to Speech{{ i18n "start-dictating" }}</a>
            <p class="h5">Reads out loud texts, files & web pages</p>
            <p class="meta">Listen on the go to any written content, from custom texts to websites & e-books, for free.</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7 col-lg-6 card" style="display: flex;flex-direction: column">
            <div class="text-center" style="margin-top: 30px;margin-bottom: -20px;">
              <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-1om0hkc" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ClosedCaptionOutlinedIcon"><path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H5V6h14v12zM7 15h3c.55 0 1-.45 1-1v-1H9.5v.5h-2v-3h2v.5H11v-1c0-.55-.45-1-1-1H7c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1zm7 0h3c.55 0 1-.45 1-1v-1h-1.5v.5h-2v-3h2v.5H18v-1c0-.55-.45-1-1-1h-3c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1z"></path></svg>
            </div>
            <p class="h3">Speechlogger</p>
            <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .Site.Params.links.speechlogger }}" role="button" onclick="gtag('event', 'speechnotes_click_speechlogger_body', {'value': 'home_page_body'});">Get started{{ i18n "start-transcribing" }}</a>
            <p class="h5">Live Captioning & Translation</p>
            <p class="meta">Live captions & simultaneous translation for conferences, online meetings, webinars & more.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="partners" class="section section-sm bg-light" >
  <div class="container">
    <div class="row justify-content-center text-center">
      <p class="h3">Need Human Transcription? We Can Offer a 10% Discount Coupon</p>
      <br/>
      <p class="lead">We do not provide human transcription services ourselves, but, we partnered with a UK company that does. <a href="/blog/human-transcription-discount-coupon/">Learn more on human transcription and the 10% discount</a>.</p>
      <br/><br/>
    </div>
  </div>
</section>

  <section id="about_speechnotes_notepad" class="section section-sm">
  <br/><br/>
  <div class="container">
    <div class="row justify-content-center text-center">
      <h2 class="text-center">Dictation Notepad</h2>
      <p><a href="{{ .Site.Params.links.dictation }}">Start taking notes with your voice for free{{ i18n "start-dictating" }}</a></p>
      <div style="max-width: 700px;padding: 20px;text-align: justify">
        <p>Speech to Text online notepad. Professional, accurate & free speech recognizing text editor. Distraction-free, fast, easy to use web app for dictation & typing.</p>
        <p>Speechnotes is a powerful speech-enabled online notepad, designed to empower your ideas by implementing a clean & efficient design, so you can focus on your thoughts.
          We strive to provide the best online dictation tool by engaging cutting-edge speech-recognition technology for the most accurate results technology can achieve today, together with incorporating built-in tools (automatic or manual) to increase users' efficiency, productivity and comfort.
          Works entirely online in your Chrome browser. No download, no install and even no registration needed, so you can start working right away.</p>
        <p>Speechnotes is especially designed to provide you a distraction-free environment.
          Every note, starts with a new clear white paper, so to stimulate your mind with a clean fresh start. All other elements but the text itself are out of sight by fading out, so you can concentrate on the most important part - your own creativity.
          In addition to that, speaking instead of typing, enables you to think and speak it out fluently, uninterrupted, which again encourages creative, clear thinking. Fonts and colors all over the app were designed to be sharp and have excellent legibility characteristics.</p>
      </div>
      <h3 class="h4">Example use cases</h3>
      <ul style="float: left;">
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.chromeExtension }}">Voice typing</a></li>
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.dictation }}">Writing notes, thoughts</a></li>
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.chromeExtension }}">Medical forms - dictate</a></li>
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.dictation }}">Authors</a></li>
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.dictation }}">Students</a></li>
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.dictation }}">Transcribers (listen and dictate)</a></li>
      </ul>
    </div>
  </div>
  </section>

  <section id="about_speechnotes_transcription" class="section section-sm bg-light">
  <br/><br/>
  <div class="container">
    <div class="row justify-content-center text-center">
      <h2 class="text-center">Transcription Service</h2>
      <p><a href="{{ .Site.Params.links.transcription }}">Start transcribing{{ i18n "start-transcribing" }}</a></p>
      <div style="max-width: 700px;padding: 20px;text-align: justify">
        <p>Fast turnaround - results within minutes. Includes timestamps, auto punctuation and subtitles at unbeatable price. Protects your privacy: no human in the loop, and (unlike many other vendors) we do NOT keep your audio. Pay per use, no recurring payments.
          Upload your files or transcribe directly from Google Drive, YouTube or any other online source.
          Simple. No download or install. Just send us the file and get the results in minutes.</p>
      </div>
      <h3 class="h4">Example use cases</h3>
      <ul style="float: left;">
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.transcription }}">Transcribe interviews</a></li>
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.transcription }}">Captions for Youtubes & movies</a></li>
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.zapier }}">Auto-transcribe phone calls or voice messages</a></li>
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.transcription }}">Students - transcribe lectures</a></li>
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.transcription }}">Podcasters - enlarge your audience by turning your podcasts into textual content</a></li>
        <li style="display: inline-block; margin: 10px 50px;"><a href="{{ .Site.Params.links.transcription }}">Text-index entire audio archives</a></li>
      </ul>
    </div>
  </div>
  </section>


  <section id="advantages" class="section section-sm">
  <br/><br/>
  <div class="container">
  <div class="row justify-content-center text-center">
      <h2>Key Advantages</h2>
      <br/>
      <div class="col-lg-5">
        <p class="h4">Accurate</p>
        <p>Speechnotes is powered by the leading most accurate speech recognition AI engines by Google & Microsoft. We always check - and make sure we still use the best. Accuracy in English is very good and can easily reach 95% accuracy for good quality dictation or recording.</p>
      </div>
      <div class="col-lg-5">
        <p class="h4">Lightweight & fast</p>
        <p>Both Speechnotes dictation & transcription are lightweight-online no install, work out of the box anywhere you are. Dictation works in real time. Transcription will get you results in a matter of minutes.</p>
      </div>
      <div class="col-lg-5">
        <p class="h4">Super Private & Secure!</p>
        <p>Super private - no human handles, sees or listens to your recordings! In addition, we take great measures to protect your privacy. For example, for transcribing your recordings - we pay Google's speech to text engines extra - just so they do not keep your audio for their own research purposes.</p>
      </div>
    </div>
    <br/>
    <div class="row justify-content-center text-center">
      <br/>
      <div class="col-lg-5">
        <p class="h4">Health advantages</p>
        <p>Typing may result in different types of Computer Related Repetitive Strain Injuries (RSI). Voice typing is one of the main recommended ways to minimize these risks, as it enables you to sit back comfortably, freeing your arms, hands, shoulders and back altogether.</p>
      </div>
      <div class="col-lg-5">
        <p class="h4">Saves you time</p>
        <p>Need to transcribe a recording? If it's an hour long, transcribing it yourself will take you about 6! hours of work. If you send it to a transcriber - you will get it back in days! Upload it to Speechnotes - it will take you less than a minute, and you will get the results in about 20 minutes to your email.</p>
      </div>
      <div class="col-lg-5">
        <p class="h4">Saves you money</p>
        <p>Speechnotes dictation notepad is completely free - with ads - or a small fee to get it ad-free. Speechnotes transcription is only $0.1/minute, which is X10 times cheaper than a human transcriber! We offer the best deal on the market - whether it's the free dictation notepad ot the pay-as-you-go transcription service.</p>
      </div>
    </div>
  </div>
</section>

  <section id="pricing" class="section section-sm bg-light">
  <br/><br/>
  <div class="container">
    <div class="row justify-content-center text-center">
      <h2>Pricing</h2>
      <br/>
    </div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Dictation - Free</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Online dictation notepad</li>
                <li>Voice typing Chrome extension</li>
              </ul>
              <a href="{{ .Site.Params.links.dictation }}" type="button" class="w-100 btn btn-lg btn-outline-primary">Get started for free</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Dictation - Premium</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$1.9<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Premium online dictation notepad</li>
                <li>Premium voice typing Chrome extension</li>
                <li>Support from the development team</li>
                <li>No ads</li>
              </ul>
              <a href="{{ .Site.Params.links.premium }}" type="button" class="w-100 btn btn-lg btn-primary">Purchase now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Transcription</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0.1<small class="text-muted fw-light">/minute</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Pay as you go - no subscription</li>
                <li>Audio & video recordings</li>
                <li>Speaker diarization in English</li>
                <li>Timestamps</li>
                <li>Generate captions .srt files</li>
                <li>REST API, webhooks & Zapier integration</li>
              </ul>
              <a href="{{ .Site.Params.links.transcription }}" type="button" class="w-100 btn btn-lg btn-primary">Start transcribing</a>
            </div>
          </div>
        </div>
      </div>

      <h2 class="display-6 text-center mb-4">Compare plans</h2>

      <div class="table-responsive">
        <table class="table text-center">
          <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Dictation Free</th>
            <th style="width: 22%;">Dictation Premium</th>
            <th style="width: 22%;">Transcription</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row" class="text-start">Unlimited dictation</th>
            <td>✅</td>
            <td>✅</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Online notepad</th>
            <td>✅</td>
            <td>✅</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Voice typing extension</th>
            <td>✅</td>
            <td>✅</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Editing</th>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Ads free</th>
            <td></td>
            <td>✅</td>
            <td>✅</td>
          </tr>
          </tbody>

          <tbody>
          <tr>
            <th scope="row" class="text-start">Transcribe recordings</th>
            <td></td>
            <td></td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Transcribe Youtubes</th>
            <td></td>
            <td></td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">API & webhooks</th>
            <td></td>
            <td></td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Zapier</th>
            <td></td>
            <td></td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Export to captions</th>
            <td></td>
            <td></td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Extra security</th>
            <td></td>
            <td>✅</td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Support from the development team</th>
            <td></td>
            <td>✅</td>
            <td>✅</td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
  <br/><br/>
  </section>

  <section id="privacy" class="section section-sm">
  <br/><br/>
  <div class="container">
    <div class="row justify-content-center text-center">
      <h3 class="text-center">Privacy Policy</h3>
      <div style="max-width: 700px;padding: 20px;text-align: justify">
        <h4>General</h4>
        <p>We at Speechnotes, Speechlogger, TextHear, Speechkeys value your privacy, and that's why we do not store anything you say or type or in fact any other data about you - unless it is solely needed for the purpose of your operation. We don't share it with 3rd parties, other than Google / Microsoft for the speech-to-text engine.
        </p>
        <br/>
        <h4>Privacy - how are the recordings and results handled?</h4>
        <h5>- Transcription service</h5>
        <p>Our transcription service is probably the most private and secure transcription service available.</p>
        <ul>
          <li>HIPAA compliant.</li>
          <li>No human in the loop. No passing your recording between PCs, emails, employees, etc.</li>
          <li>Secure encrypted communications (https) with and between our servers.</li>
          <li>Recordings are automatically deleted from our servers as soon as the transcription is done.</li>
          <li>Our contract with Google / Microsoft (our speech engines providers) prohibits them from keeping any audio or results.</li>
          <li>Transcription results are securely kept on our secure database. Only you have access to them - only if you sign in (or provide your secret credentials through the API)</li>
          <li>You may choose to delete the transcription results - once you do - no copy remains on our servers.</li>
        </ul>
        <h5>- Dictation notepad & extension</h5>
        <p>For dictation, the recording & recognition - is delegated to and done by the browser (Chrome / Edge) or operating system (Android). So, we never even have access to the recorded audio, and Edge's / Chrome's / Android's (depending the one you use) privacy policy apply here.
        </p>
        <p>The results of the dictation are saved locally on your machine - via the browser's / app's local storage. It never gets to our servers. So, as long as your device is private - your notes are private.</p>
        <br/>
        <h4>Payments method privacy</h4>
        <p>The whole payments process is delegated to PayPal / Stripe / Google Pay / Play Store / App Store and secured by these providers. We never receive any of your credit card information.</p>
        <br/>
        <h4>More generic notes regarding our site, cookies, analytics, ads, etc.</h4>
        <ul>
          <li>We may use Google Analytics on our site - which is a generic tool to track usage statistics.</li>
          <li>We use cookies - which means we save data on your browser to send to our servers when needed. This is used for instance to sign you in, and then keep you signed in.</li>
          <li>For the dictation tool - we use your browser's local storage to store your notes, so you can access them later.</li>
          <li>Non premium dictation tool serves ads by Google. Users may opt out of personalized advertising by visiting <a href="https://www.google.com/settings/ads" target="_blank" rel="nofollow">Ads Settings</a>. Alternatively, users can opt out of a third-party vendor's use of cookies for personalized advertising by visiting <a href="https://youradchoices.com/" target="_blank" rel="nofollow">https://youradchoices.com/</a></li>
          <li>In case you would like to upload files to Google Drive directly from Speechnotes - we'll ask for your permission to do so. We will use that permission for that purpose only - syncing your speech-notes to your Google Drive, per your request.</li>
        </ul>
        <br/>

      </div>
    </div>
  </div>
</section>

  <br/><br/><br/><br/>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
